%table.table.table--bordered.table--striped.table--linked
  %thead
    %tr
      %th Space
      %th Sq Feet
      %th Phone
      %th Type
      %th Max Occupants
      %th Owner
      %th
  %tbody
    - @cspaces.each do | space |
    %tr(data-link="#{edit_cspace_path cspace}")
      %td
        %td= cspace.id
        %td= cspace.square_feet
        %td= cspace.phone
        %td= cspace.space_type
        %td= cspace.maximum_occupants
        %td= cspace.user_id