<!DOCTYPE html>
<html>
<head>
  <title>CivicSpaces | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <header class="navbar navbar-fixed-top">
  	<div class="navbar-inner">
  	  <% link_to "CivicSpaces", '#', id: "logo" %>
  	  <nav>
  	  	<ul class="nav pull-right">
          <li><%= link_to "Home",       home_path      %></li>
  	      <li><%= link_to "About",      about_path     %></li>
  	      <li><%= link_to "Citizens",   citizens_path  %></li>
          <li><%= link_to "Spaces",     spaces_path    %></li>
          <li><%= link_to "Resources",  resources_path %></li>
          <li><%= link_to "Find",       find_path      %></li>
          <li><%= link_to "List",       list_path      %></li>
  	    </ul>
  	  </nav>
  	</div>
  </header>
  <div class="container">
	  <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
